{% extends 'base.html' %}

{% block title %}
    Моя страница
{% endblock %}

{% block h1 %}
    Привет {{ user.username }}
{% endblock %}

{% block content %}
    <div class="media text-muted pt-3">
        <img class="mr-2 rounded" style="width: 80px; height: 80px;" src="{{ user.profile.picture.url }}">
        <p class="mb-1 ml-1 middle lh-sm"><strong class="d-block">@{{ user.username }}</strong>Ваш профиль</p>
    </div>
    <p></p>
    Для смены пароля нажми сюда -> <a href="{% url 'change_password' %}">Тык</a>
    <p></p>
    {% if user_posts %}
        Все ваши публикации:
        {% for post in user_posts %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        {% endfor %}
    {% endif %}
{% endblock %}