{% extends 'base.html' %}

{% block title %}
    Моя страница
{% endblock %}

{% block h1 %}
    Привет {{ user.username }}
{% endblock %}

{% block content %}
    <div class="media text-muted pt-3">
        <img class="mr-2 rounded" style="width: 80px; height: 80px;" src="{{ user.profile.picture.url }}">
        <p class="mb-1 ml-1 middle lh-sm"><strong class="d-block">@{{ user.username }}</strong>Ваш профиль</p>
    </div>
    <p></p>
    Для смены пароля нажми сюда -> <a href="{% url 'change_password' %}">Тык</a>
    <p></p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="changer_data">
            <h3>Для смены картинки аккаунта: </h3>
            {{ change_avatar }}
            <p></p>
            <h3>Для смены данных: </h3>
            <p> Имя пользователя:   {{ change_data.username }}</p>
            <p> Email пользователя: {{ change_data.email }}</p>
            <p></p>
            <button type="submit" class="btn btn-outline-warning">Загрузить новые данные</button>
            <p></p>
        </div>
    </form>
    {% if user_posts %}
        Все ваши публикации:
        {% for post in user_posts %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        {% endfor %}
    {% endif %}
{% endblock %}