{% extends 'base_new.html' %}
{% load static %}

{% block head_sample %}
    <link rel="stylesheet" href="{% static '/css/chat.css' %}" type="text/css">
{% endblock %}
{% block title %}
    Chat
{% endblock %}

{% block h1 %}
    Выбор чата
{% endblock %}

{% block content %}
    <p>В какую комнату Вы хотите войти?</p>
    <input class="chat_selection" id="room-name-input" type="text" size="50">
    <br />
    <input id="room-name-submit" class="btn btn-success" type="button" value="Enter">
{% endblock %}

{% block js_link %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}