<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Link on static directory with css file -->
    <link rel="stylesheet" href="{% static '/css/about.css' %}" type="text/css">

    <meta charset="UTF-8">
    <title>Информация об блогах</title>
</head>
<body>
    <h3>Тестовый сайт, созданный с целью обучения программированию</h3>
    <p>Вся информация в постах на этом сайте взята с открытых источников</p>
    <p>Исходный код этого сайта находится на моём <a href="{https://github.com/97Dmitry}">GitHub'е</a></p>
</body>
</html>