{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    {{ current_rubric.rubric }}
{% endblock %}

{% block h1 %}
    {{ current_rubric.rubric }}
{% endblock %}

{% block tags %}
    <div class="container container__tags">
        <p class="tags__title">Навигация по тегам</p>
        {% for tag in rubrics %}
            <ul>
                <li><a href="{% url 'by_rubric' tag.pk %}">{{ tag }}</a></li>
            </ul>
        {% endfor %}

    </div>
{% endblock %}

{% block content %}
    <h2 class="post__title">{{ current_rubric.rubric }}</h2>
    <p>Всего записей в категории {{ current_rubric }}: {{ count_posts }} </p>
        {% for post in posts %}
            <div>
                <h2 class="post__title"><a class="post__title__link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <details>
                    <p>{{ post.text }}</p>
                </details>
                {% if post.published_date %}
                    <div class="date">
                        <p>Дата публикации: {{ post.published_date }}</p>
                    </div>
                {% endif %}
                <hr />
            </div>
        {% endfor %}
{% endblock %}

{% block js_link %}
    <script type="text/javascript" src={% static "js/fix_for_tags-navigation.js" %}></script>
{% endblock %}