{% extends 'base_new.html' %}

{% block title %}
    {{ current_rubric.rubric }}
{% endblock %}

{% block h1 %}
    {{ current_rubric.rubric }}
{% endblock %}

{% block content %}
    <h2 class="post__title">{{ current_rubric.rubric }}</h2>
    <p>Всего записей в категории {{ current_rubric }}: {{ count_posts }} </p>
        {% for post in posts %}
            <div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <details>
                    <p>{{ post.text }}</p>
                </details>
                {% if post.published_date %}
                    <div class="date">
                        <p>Дата публикации: {{ post.published_date }}</p>
                    </div>
                {% endif %}
                <hr />
            </div>
        {% endfor %}
{% endblock %}