{% extends 'base_new.html' %}
{% load static %}
{% block head_sample %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins" %}"></script>

{% endblock %}

{% block title %}
    Edit post
{% endblock %}

{% block content %}
    <h2 class="post__title">Редактирование или создание записи {{ post.title }}</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
{% endblock %}