{% extends 'base.html' %}

{% block title %}
    Posts page
{% endblock %}

{% block h1 %}
    Здесь будет информация и приветствие
{% endblock %}
{% block content %}
    <p>Всего записей: {{ count_posts }}</p>
    <div class="post">
        {% for post in posts %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>Автор: {{ post.author }}</p>
        <p>Тег: <a href="{% url 'by_rubric' post.rubric.pk %}">{{ post.rubric }}</a></p>
        <div class="date">
            <p>Дата публикации: {{ post.created_date }}</p>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr/>
        {% endfor %}
    </div>
{% endblock %}
