{% extends 'base.html' %}

{% block title %}
    Posts page
{% endblock %}

{% block h1 %}
    Здесь будет информация и приветствие
{% endblock %}
{% block content %}
    <p>Всего записей: {{ count_posts }}</p>
    <div class="post">
        {% for post in posts %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <div class="media text-muted pt-3">
            <img class="mr-2 rounded" style="width: 38px; height: 38px;" src="{{ post.author.profile.picture.url }}">
            <p class="mb-1 ml-1 small lh-sm"><strong class="d-block">@{{ post.author }}</strong>Автор записи</p>
        </div>
        <p>Тег: <a href="{% url 'by_rubric' post.rubric.pk %}">{{ post.rubric }}</a></p>
        <div class="date">
            <p>Дата публикации: {{ post.created_date }}</p>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr/>
        {% endfor %}
    </div>
{% endblock %}
