h1 {
    color: #000000d;
    font-family: fantasy;
    background: #00afff7a;
    padding: 45px;
    margin-right: 0px;
    margin-left: -20px;
    margin-top: 0;
}
.post h2 a{
    color: #0087DF;
}
.post p {
    font-family: cursive;
}
.date p {
	font-family: serif;
}
body {
    padding-left: 20px;
}
