h1 {
    color: #000000d;
    font-family: fantasy;
    background: #00afff7a;
    padding: 45px;
    margin-right: 0px;
    margin-left: -20px;
    margin-top: 0;
}

.date p {
	font-family: serif;
}

body {
    padding-left: 20px;
}

.reg {
	top: 0px;
    position:absolute;
    right: 0px;
}

.new_post {
    down: 10px;
    position:absolute;
    right: 0px;
}

.logging {
    top: 20px;
    position:absolute;
    right: 0px;
}

.logout {
    position:absolute;
    top: 0px;
    right: 0px;
}

.home {
    left: 0px;
    position:absolute;
    top: 0px;
}